.button {
  border-radius: 5px;
  padding: 0px 15px;
  color: white;
  font-size: 10px;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  background-color: #0b3d0b;
  border: 1px solid black;
  height: 50px;
  min-width: 100px;
  cursor: pointer;
  transition: transform 0.05s ease;
}

.button-clicked {
  transform: scale(0.95);
}

.button:disabled {
  background-color: #a9a9a9;
  border: 1px solid #808080;
  cursor: not-allowed;
  opacity: 0.6;
}

.button-text {
  font-size: 20px;
  margin: 0;
}

@media (max-width: 768px) {
  .button {
    padding: 0px 10px;
    min-width: 80px;
    height: 45px;
  }

  .button-text {
    font-size: 15px;
  }
}
