.train-background {
  background-color: darkgreen;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.statistics-label-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.return-home-button-container {
  margin-top: 20px;
}

.statistics-icon {
  height: 60px;
  width: auto;
}

@media (max-width: 768px) {
  .train-background {
    gap: 10px;
  }

  .statistics-label-container {
    gap: 10px;
  }

  .train-title-text {
    max-width: 70%;
    margin-bottom: 15px;
  }

  .statistics-icon {
    height: 40px;
    width: auto;
  }
}
